@model List<UcusRez.Models.Kayit>
@{
    ViewData["Title"] = "Kullanicilar";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}


<div id="page-wrapper">
	<div class="main-page">
		<h3 class="title1">Kayıtlı Kullanıcılar</h3>
		<div class="blank-page widget-shadow scroll" id="style-2 div1">
			<section class="section__container booking__container">
				<div class="booking__nav">
					<span>Kullanıcı Bilgileri</span>
				</div>
				<style>
					table {
						border-collapse: collapse;
						width: 100%;
						margin-top: 20px;
					}

					th, td {
						border: 1px solid #dddddd;
						text-align: left;
						padding: 8px;
					}

					th {
						background-color: #f2f2f2;
					}

					tr:nth-child(even) {
						background-color: #f9f9f9;
					}

					tr:hover {
						background-color: #e0e0e0;
					}
				</style>
				<table border="1">
					<thead>
						<tr>
							<td>Kullanıcı No</td>
							<td>İsim</td>
							<td>Soyisim</td>
							<td>Email</td>
							<td>Şifre</td>
							
						</tr>
					</thead>
					<tbody>
						@if (Model != null)
						{
							@foreach (var kullanici in Model)
							{
								<tr>
									<td>@kullanici.KayitID</td>
									<td>@kullanici.KayitName</td>
									<td>@kullanici.KayitSurname</td>
									<td>@kullanici.KayitMail</td>
									<td>@kullanici.KayitPassword</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>

