<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/ui/styles.css" />
</head>
<body>
    <nav>
    <div class="nav__logo">Uçacaksın</div>
   
    <div class="btn-container">
            <button class="btn" onclick="redirectToLoginPage('Kullanici/Login')">@_localization.Getkey("Giriş Yap").Value</button>
            <button class="btn2" onclick="redirectToLoginPage('Kullanici/Register')">@_localization.Getkey("Kaydol").Value</button>
    </div>

        <div>
            <ul>
                <li>
                    <a asp-controller="Anasayfa" asp-action="ChangeLanguage" asp-route-culture="en-US"><i class="flag-icon flag-icon-gb"></i>En</a>
                </li>
                <li>
                    <a asp-controller="Anasayfa" asp-action="ChangeLanguage" asp-route-culture="tr-TR"><i class="flag-icon flag-icon-gb"></i>Tr</a>
                </li>
            </ul>
        </div>

    <script>
        function redirectToLoginPage(page) {
            window.location.href = page;
        }
    </script>
    
    <style>
        .btn-container {
            display: flex;
        }

        .btn {
            margin-right: 10px; /* İsteğe bağlı: butonlar arasında boşluk bırakmak için */
        }
    </style>
</nav>


    <section class="section__container plan__container">
        
        <h2 class="section__header">@_localization.Getkey("Uçak bileti satın almak için neden Uçacaksın kullanmalıyım?").Value</h2>
        <div class="plan__grid">
            <div class="plan__content">
                <span class="number">01</span>
                <h4> @_localization.Getkey("Seyahatlerinizi Yönetin").Value </h4>
                <p>
                    @_localization.Getkey("Tüm rezerve ettiğiniz uçuşları ve satın aldığınız uçak biletlerini tek bir yerden takip edip,yönetebilirsiniz.").Value
                </p>
                <span class="number">02</span>
                <h4> @_localization.Getkey("Güvenle Alın").Value </h4>
                <p>
                   @_localization.Getkey("Tüm ödeme işlemleriniz firmamız tarafından güvence altındadır.").Value
                </p>
                <span class="number">03</span>
                <h4>
                    @_localization.Getkey("Müşteri Hizmetleri").Value</h4>
                <p>
                    @_localization.Getkey("Tüm sorularınız, uçak bileti değişikliği, iptal ve uçuş durumunuzu takip için daima yanınızdayız.").Value
                </p>
            </div>
            <div class="plan__image">
                <img src="~/ui/assets/plan-1.jpg" alt="plan" />
                <img src="~/ui/assets/plan-2.jpg" alt="plan" />
                <img src="~/ui/assets/plan-3.jpg" alt="plan" />
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>UÇACAKSIN</h3>
                <p>
                    @_localization.Getkey("Aradığınız destinasyona en uygun fiyata, avantajlı paketler ile dünyanın dört bir yanına sizleri uçuruyoruz!").Value
                </p>
            </div>
            <div class="footer__col">
                <h4>İletişim</h4>
                <p>+90 (539) 446 1775</p>
                <p>+90 (506) 365 5797</p>
                <p>huseyin.yaman2@ogr.sakarya.edu.tr</p>
                <p>efe.goktepe@org.sakarya.edu.tr</p>
            </div>
        </div>
        <div class="section__container footer__bar">
            <p>Copyright © Hüseyin Yaman & Mehmet Efe Göktepe</p>
           
            <div>
                @RenderBody()
            </div>
        </div>
    </footer>
</body>
</html>